/*-- scss:defaults --*/
$link-color: #8cd000 !default;
.reveal h1 {line-height: .8 !important;} 
.citation {font-size: .8em; color: #8cd000;}
.imp {color: #8cd000;}
.imp2 {color: #50B32E;}
.cent2 h2 {text-align: center;}
.cent3 h3 {text-align: center;}
.cent1 h1 {text-align: center;}
.cent_text {text-align: center;}
.reveal h2 {color: #8cd000 !important;}
